<header>
    <h1>{{titulo}}</h1>

    <nav>
        <a routerLink="/registro" routerLinkActive="active-tab">
            Registro Usuario
        </a>

        <a routerLink="/buscador" routerLinkActive="active-tab">
            Buscador Pokemon
        </a>
        <a routerLink="psyduck_manual" routerLinkActive="active-tab">
            Psyduck
        </a>
        <a routerLink="growlithe_manual" routerLinkActive="active-tab">
            Growlithe
        </a>

        <a routerLink="bulbasaur_manual" routerLinkActive="active-tab">
            Bulbasaur
        </a>

        <a routerLink="machop_manual" routerLinkActive="active-tab">
            Machop
        </a>

        <a routerLink="gastly_manual" routerLinkActive="active-tab">
            Gastly
        </a>

        <a routerLink="jolteon_manual" routerLinkActive="active-tab">
            Jolteon
        </a>
        <a routerLink="pokemon_lista" routerLinkActive="active-tab">
            pokemon_lista
        </a>
        <a routerLink="pokemon_detalles" routerLinkActive="active-tab">
            pokemon_detalles
        </a>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>